body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(./images/bg.png);
}

/* HEADER */

.tags {
  margin-top: 60px;
}
.tags a {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 10px;
  text-decoration: none;
  color: white;
  border-radius: 3px;
}
.tags a:hover { 
  color: rgb(2, 16, 82);
}
.tags2 {
  margin-top: 20px;
}
.tags2 a {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 10px;
  text-decoration: none;
  color: white;
  border-radius: 3px;
}
.tags2 a:hover { 
  color: rgb(2, 16, 82);
}
h1 {
  color: rgb(116, 116, 116);
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 80px;
}
.head {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(50, 67, 126, 0.788);
  overflow-x: hidden;
  padding-top: 20px;
  border-right: solid;
  border-color: rgb(2, 16, 82);
  border-width: 1px;
  text-align: center;
}
.headTitle {
  text-align: center;
}
.logo{
  height: 90px;
  margin-top: 5%;
}
.logSign {
  text-align: center;
  margin-top: 10px;
}
.signup {
  color: rgb(116, 116, 116);
  text-decoration: none;
  margin-right: 2%;
}
.login {
  color: rgb(116, 116, 116);
  text-decoration: none;
}
.signup:hover {
  text-decoration: underline;
}
.login:hover {
  text-decoration: underline;
}
.signout {
  color: white;
  background-color: transparent;
  border: none;
  font-size: 16px;
}
.signout:focus {
  outline: none ;
}
.signout:hover {
  text-decoration: underline;
}

/* SEARCHBAR */

.new {
  height: 40px;
  margin-top: 30px;
  position: absolute;
  right: 50px; 
}
.new:hover {
  height: 42px;
}
.search {
  border: none;
  border-bottom: solid;
  border-width: 1px;
  border-color: rgb(2, 16, 82);
  background-color: transparent;
  width: 555px;
  margin-left: 10px;
  line-height: 35px;
  font-size: 20px;
  margin-top: 1%;
  color: rgb(23, 39, 109);
}
.searchbar {
  display: flex;
}
.search:focus {
  outline: none;
}
::placeholder {
  color: rgb(155, 155, 155);
}
.searchBtn {
  margin-left: 23%;
  margin-top: 1.5%;
}
.srchImg {
  height: 20px;
  width: 20px;
}
::placeholder {
  color: rgb(2, 16, 82);
}
/* TAB */

.link {
  text-decoration: none;
  color: rgb(2, 16, 82);
  padding: 2px;
}
.tabs {
  margin-left: 20%;
  display: flex;
  font-size: 25px;
  font-family: 'Roboto';
}
.tab0 {
  width: 20%;
  text-align: center;
}
.tab1 {
  margin-left: 5%;
  width: 20%;
  text-align: center;
}
.link:hover {
  color: rgb(88, 100, 141);
}

/* CARD */

.card {
  border: solid;
  border-width: 1px;
  border-color: rgb(2, 16, 82);
  background-color: rgba(50, 67, 126, 0.788);
  margin-left: 22%;
  margin-right: 2%;
  display: flex;
  margin-bottom: 20px;
  border-radius: 10px;
}
.thumb {
  height: 100px;
  width: 100px;
  display: flex;
  border-radius: 10px;
}
.title {
  margin-left: 5%;
  margin-top:16px;
  color: rgb(2, 16, 82);
  font-size: 26px;
  width: 500px;
  font-family: 'Roboto';
  font-weight: 100;
}
.postLink {
  border: none;
  padding-left: 7%;
  padding-right:6%;
  color: white;
  border-color: white;
  text-decoration: none;
  border-right: solid;
  border-width: 1px;
  background-color: transparent;
}
.postLink0 {
  border: none;
  padding-left: 7%;
  padding-right:6%;
  color: white;
  border-color: white;
  text-decoration: none;
  background-color: transparent;
}
.postLink:focus {
  outline: none;
}
.postLink0:focus {
  outline: none;
}
.postLink1 {
  padding-left: 9%;
  padding-right:9%;
  color: rgb(220, 220, 220);
  text-decoration: none;
  border-right: solid;
  border-width: 1px;
}
.postLinks1 {
  padding-bottom: 20px;
}
.postLink01 {
  padding-left: 9%;
  padding-right:9%;
  color: rgb(220, 220, 220);
  text-decoration: none;
}
.postLink:hover {
  color: rgb(2, 16, 82);
  border-color: white;
}
.postLink0:hover {
  color: rgb(2, 16, 82);
  border-color: white;
}
.titleDiv {
  display: flex;
}
.hidden {
  display: none;
}
.expand {
  margin-left: 21%;
  position: absolute;
}
.f img {
  height: 30px;
  width: 30px;
  margin-top: 110%;
  border-radius: 2px;
}
.f img:hover {
  border-radius: 20px;
  background-color: rgba(50, 67, 126, 0.788);
}
.f {
  border: none;
  background-color: transparent;
}
.f:focus {
  outline: none;
}
.usrnm {
  font-weight: 100;
  color: white;
  font-family: 'Roboto';
  margin-left: 20px;
  text-decoration: none;
  margin-top: 21px;
}
.usrnm:hover {
  color: rgb(2, 16, 82);
}
.expanded {
  background-color: rgb(88, 100, 141);
  color: rgb(2, 16, 82);
  font-family: 'Roboto';
  width: 3400%;
  left: 15%;
  padding-left: 40px;
  position: absolute;
  top: 0;
  border: solid;
  border-radius: 10px;
  border-width: 1px;
  z-index: 3;
  margin-bottom: 30px;
}
.expanded div {
  display: flex;
}
.expanded * {
  color: white ;
}
.visnone {
  visibility: hidden;
}
.expanded h3 {
  font-weight: 200;
  font-size: 30px;
  margin-top: 45px;
}
.expanded div img {
  border-radius: 5px;
  max-width: 400px;
  margin-right: 40px;
  margin-bottom: 60px;
}
.expanded div p {
  font-size: 20px;
  padding-right: 40px;
  padding-bottom: 60px;
  padding-top: 20px;
}
.editImg {
  height: 20px;
}
.deleteImg {
  height: 20px;
  margin-top: 7px;
}
.expanded div button {
  position: absolute;
  height: 5px;
}
.expanded div button:hover {
  text-decoration: underline;
}
.postBody {
  display: block;
  position: relative;
}
.qLinks {
  position: absolute;
}
.qLinks a {
  margin-right: -10px;
  text-decoration: none;
  color: rgb(2, 16, 82);
}
.pic {
  height: 30px;
}
.fpic {
  height: 30px;
}
.qLinks a:hover {
  text-decoration: underline;
}
.newComment {
  padding-bottom: 20px;
}
.newComment textarea {
  border: none;
  font-size: 14;
  font-family: 'Roboto';
  color: rgb(2, 16, 82);
  border-radius: 9px;
  background-color: rgb(192, 203, 236);
  line-height: 20px;
  height: 75px;
  width: 95%;
  font-size: 20px;
  padding: 5px;
  border-width: 1px;
}
.newComment textarea:focus {
  outline: none;
}
.newComment button {
  border: none;
  margin-top: 7px;
  color: rgb(2, 16, 82);
  background-color: rgb(192, 203, 236);
  border-radius: 7px;
  padding: 4px;
  border-bottom: solid;
  border-right: solid;
  border-width: 2px;
}
.delete {
  background-color: transparent;
  color: rgb(220, 220, 220);
  border: none;
  margin-top: 4%;
}
.delete:hover {
  text-decoration: underline;
}
.delete:focus {
  outline: none;
}
.flex {
  display: flex;
}
.edit {
  margin-top: 42px;
  font-size: 13px;
  color: rgb(220, 220, 220);
  text-decoration: none;
}
.edit:hover {
  text-decoration: underline;
}

/* NEW POST */

.newPost {
  color: white;
  width: 76%;
  margin-left: 22%;
  background-color: rgba(50, 67, 126, 0.788);
  border-radius: 10px;
  padding-bottom: 3%;
  margin-bottom: 50px;
}
.newPost form {
  margin-left: 5%;
}
.newPost form button {
  border: none;
  font-family: 'Roboto';
  background-color: rgb(192, 203, 236);
  font-size: 20px;
  border-radius: 10px;
  text-decoration: none;
  border-bottom: solid;
  border-right: solid;
  color: rgb(2, 16, 82);
  width: 100px;
  text-align: center;
  border-width: 2px;
}
.newPost form button:focus {
  outline: none;
}
.newPost form button:hover {
  border-color: rgb(192, 203, 236);
}
.newPost form input {
  font-family: 'Roboto';
  color: rgb(2, 16, 82);
  border-radius: 9px;
  background-color: rgb(192, 203, 236);
  width: 40%;
  line-height: 20px;
  height: 35px;
  font-size: 20px;
  border-top: none;
  border-left: none;
  border-color: rgb(2, 16, 82);
}
.newPost form textarea {
  padding: 10px;
  font-family: 'Roboto';
  color: rgb(2, 16, 82);
  border-radius: 9px;
  background-color: rgb(192, 203, 236);
  line-height: 20px;
  height: 250px;
  width: 85%;
  font-size: 20px;
  border-top: none;
  border-left: none;
  border-width: 2px;
  border-color: rgb(2, 16, 82);
}
.newPost form div {
  margin-bottom: 10px;
}
.newPost h3 {
  font-size: 30px;
  padding-top: 3%;
  margin-left: 5%;
  font-weight: 100;
}
.newPost *:focus {
  outline: none;
}

/* SIGNUP LOGIN */

.signUpForm {
  background-color: rgba(50, 67, 126, 0.788);
  margin-left: 40%;
  border-radius: 10px;
  padding-bottom: 30px;
  margin-top:7%;
  width: 30%;
}
.signUpForm * {
  margin-left: 3%;
}
.usernameLabel {
  padding-top: 40px;
}
.passwordInput {
  margin-bottom: 20px;
}
.signUpForm button {
  margin-top: 20px;
  display: block;
  font-family: 'Roboto';
  background-color: rgb(192, 203, 236);
  font-size: 20px;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  border-bottom: solid;
  border-right: solid;
  color: rgb(2, 16, 82);
  width: 100px;
  text-align: center;
}
.signUpForm button:focus {
  outline: none;
}
.signUpForm button:hover {
  text-decoration: none;
  border-color: rgb(192, 203, 236);
}
.signUpForm p {
  font-family: 'Roboto';
  color: white;
  font-size: 20px;
}
.signUpForm input {
  font-family: 'Roboto';
  color: rgb(2, 16, 82);
  border-radius: 9px;
  background-color: rgb(192, 203, 236);
  width: 80%;
  line-height: 20px;
  height: 35px;
  font-size: 20px;
  border-top: none;
  border-left: none;
  border-color: rgb(2, 16, 82);
}
.signUpForm input:focus {
  outline: none;
}
.l1 {
  display: flex;
  color: rgb(200, 200, 200);
}
.l1 h4 {
  font-weight: 100;
  color: white;
}
.l1 a {
  margin-top: 21px;
  color: rgb(2, 16, 82);
  text-decoration: none;
}
.l1 a:hover {
  color: white;
}
.x1 {
  margin-top: 10px;
  margin-left: -32px;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: none;
}
.x1:focus {
  outline: none;
}
.x {
  height: 20px;
  width: 20px;
}

/* COMMENT */

.commentCard {
  color: rgb(2, 16, 82);
  background-color: rgb(192, 203, 236);
  margin-bottom: 5%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.commentCard p {
  color: rgb(2, 16, 82);
}
.commentName {
  margin-left: 5%;
}
.so {
  height: 15px;
}

/* USER */
.zoidDiv {
  text-align: center;
  position: fixed;
  color: white;
  z-index: 2;
  display: flex;
  width: 18%;
  margin-top: 30px;
  margin-left: 1%;
  font-size: 20px;
  font-weight: 100;
  font-family: 'Roboto';
}

.userDiv {
  position: fixed;
  color: white;
  z-index: 2;
  display: flex;
  width: 20%;
  margin-top: 113px;
}
.userDiv p {
  margin-left: 37%;
  font-size: 22px;
}
.userDiv button {
  font-size: 14px;
}
.tagsDiv {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  margin-top: 130px;
  text-align: center;
}
.submitCmnt:hover {
  border-color: rgb(192, 203, 236);
}
.commentSubmited {
  font-weight: 100;
}
h7 {
  font-size: 15px;
}
h7 a{
  margin-left: 5px;
  margin-right: 5px;
  color: rgb(2, 16, 82);
  text-decoration: none;
}
h7 a:hover {
  color: white;
}

@media only screen and (max-width: 1800px) {
  .expanded {
    width: 3000%;
  }
}
@media only screen and (max-width: 1650px) {
  .expanded {
    width: 2500%;
  }
}
@media only screen and (max-width: 1400px) {
  .head {
    display: none;
  }
  .tagsDiv {
    display: none;
  }
  .userDiv {
    display: none;
  }
  .card {
    margin-left: 2%;
  }
  .expand {
    margin-left: 2%;
  }
  .searchbar {
    margin-top: 2%;
  }
  .searchBtn {
    margin-left: 2%;
  }
  .tabs {
    margin-left: 2%;
    margin-top: 2%;
  }
  .newPost{
    margin-left: 5%;
    width: 90%;
  }
  .signUpForm{
    margin-left: 5%;
    width: 90%;
  }
  .zoidDiv {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .card {
    width: 95%;
  }
  .new {
    position: absolute;
  }
  .tabs {
    font-size: 15px;
  }
  .title {
    font-size: 20px;
  }
  .search {
    width: 50%;
  }
  .new {
    height: 40px;
    margin-top: 10px;
    right: 20px; 
  }
  .postLink {
    padding-left: 15px;
    padding-right: 15px;
  }
  .postLink0 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .expanded {
    width: 775%;
    margin-left: -10px;
  }
  .expanded div img {
    border-radius: 5px;
    max-width: 300px;
    margin-right: 40px;
    margin-bottom: 60px;
  }
  .expanded div {
    display: block;
  }
  .pic {
    display: none;
  }
  .fpic {
    display: none;
  }
  .commentCard p {
    margin-left: 20px;
  }
  .postBody p {
    margin-top: -50px;
  }
  .newPost form div input {
    width: 90%;
  }
}