body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(220, 220, 220);
}

/* HEADER */

.tags {
  margin-top: 60px;
}
.tags a {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 10px;
  text-decoration: none;
  background-color: rgb(116, 116, 116);
  color: rgb(220, 220, 220);
  border-radius: 3px;
}
.tags a:hover { 
  text-decoration: underline;
}
.tags2 {
  margin-top: 20px;
}
.tags2 a {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 10px;
  text-decoration: none;
  background-color: rgb(116, 116, 116);
  color: rgb(220, 220, 220);
  border-radius: 3px;
}
.tags2 a:hover { 
  text-decoration: underline;
}
h1 {
  color: rgb(116, 116, 116);
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 80px;
}
.head {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(200, 200, 200);
  overflow-x: hidden;
  padding-top: 20px;
  border-right: solid;
  border-color: rgb(116, 116, 116);
  border-width: 1px;
  text-align: center;
}
.headTitle {
  text-align: center;
}
.logo{
  height: 90px;
  margin-top: 5%;
}
.logSign {
  text-align: center;
  margin-top: 10px;
}
.signup {
  color: rgb(116, 116, 116);
  text-decoration: none;
  margin-right: 2%;
}
.login {
  color: rgb(116, 116, 116);
  text-decoration: none;
}
.signup:hover {
  text-decoration: underline;
}
.login:hover {
  text-decoration: underline;
}
.signout {
  color: rgb(116, 116, 116);
  background-color: transparent;
  border: none;
  font-size: 16px;
}
.signout:focus {
  outline: none ;
}
.signout:hover {
  text-decoration: underline;
}

/* SEARCHBAR */

.new {
  height: 40px;
  margin-top: 30px;
  position: absolute;
  right: 50px; 
}
.new:hover {
  height: 42px;
}
.search {
  border: none;
  border-bottom: solid;
  border-width: 1px;
  border-color: rgb(116, 116, 116);
  background-color: transparent;
  width: 555px;
  margin-left: 10px;
  line-height: 35px;
  font-size: 20px;
  margin-top: 1%;
  color: rgb(106, 106, 106);
}
.searchbar {
  display: flex;
}
.search:focus {
  outline: none;
}
::placeholder {
  color: rgb(155, 155, 155);
}
.searchBtn {
  margin-left: 23%;
  margin-top: 1.5%;
}
.srchImg {
  height: 20px;
  width: 20px;
}

/* TAB */

.link {
  text-decoration: none;
  color: rgb(106, 106, 106);
}
.tabs {
  margin-left: 20%;
  display: flex;
  font-size: 25px;
  font-family: 'Roboto';
}
.tab0 {
  width: 20%;
  text-align: center;
  color: rgb(106, 106, 106);
}
.tab1 {
  margin-left: 5%;
  width: 20%;
  text-align: center;
  color: rgb(106, 106, 106);
}
.link:hover {
  border-bottom: solid;
  border-color: rgb(155, 155, 155);
  border-width: 3px;
}

/* CARD */

.card {
  border: solid;
  border-right: none;
  border-width: 1px;
  color: rgb(85, 85, 85);
  background-color: rgb(155, 155, 155);
  margin-left: 25%;
  display: flex;
  margin-bottom: 20px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.thumb {
  height: 100px;
  width: 100px;
  display: flex;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.title {
  margin-left: 5%;
  margin-top:16px;
  color: rgb(85, 85, 85);
  font-size: 26px;
  width: 500px;
  font-family: 'Roboto';
  font-weight: 100;
}
.postLink {
  border: none;
  padding-left: 7%;
  padding-right:6%;
  color: rgb(220, 220, 220);
  text-decoration: none;
  border-right: solid;
  border-width: 1px;
  background-color: transparent;
}
.postLink0 {
  border: none;
  padding-left: 7%;
  padding-right:6%;
  color: rgb(220, 220, 220);
  text-decoration: none;
  background-color: transparent;
}
.postLink:focus {
  outline: none;
}
.postLink0:focus {
  outline: none;
}
.postLink1 {
  padding-left: 9%;
  padding-right:9%;
  color: rgb(220, 220, 220);
  text-decoration: none;
  border-right: solid;
  border-width: 1px;
}
.postLinks1 {
  padding-bottom: 20px;
}
.postLink01 {
  padding-left: 9%;
  padding-right:9%;
  color: rgb(220, 220, 220);
  text-decoration: none;
}
.postLink:hover {
  text-decoration: underline;
}
.postLink0:hover {
  text-decoration: underline;
}
.titleDiv {
  display: flex;
}
.hidden {
  display: none;
}
.expand {
  margin-left: 21%;
  position: absolute;
}
.expand button img {
  height: 30px;
  width: 30px;
  margin-top: 110%;
  border-radius: 2px;
}
.expand button img:hover {
  border-radius: 20px;
  background-color: rgb(200, 200, 200);
}
.expand button {
  border: none;
  background-color: transparent;
}
.expand button:focus {
  outline: none;
}
.usrnm {
  font-weight: 100;
  color: rgb(220, 220, 220);
  font-family: 'Roboto';
  margin-left: 20px;
  text-decoration: none;
  margin-top: 21px;
}
.usrnm:hover {
  text-decoration: underline;
}
.expanded {
  background-color: rgb(155, 155, 155);
  color: rgb(106, 106, 106);
  font-family: 'Roboto';
  width: 3500%;
  left: 15%;
  padding-left: 40px;
  position: absolute;
  top: 0;
  border: solid;
  border-radius: 10px;
  border-width: 1px;
  z-index: 3;
}
.expanded div {
  display: flex;
}
.expanded * {
  color: rgb(220, 220, 220) ;
}
.expanded h3 {
  font-weight: 200;
  font-size: 30px;
  margin-top: 45px;
}
.expanded div img {
  max-width: 400px;
  padding-right: 40px;
  padding-bottom: 60px;
}
.expanded div p {
  font-size: 20px;
  padding-right: 40px;
  padding-bottom: 60px;
  padding-top: 20px;
}
.expanded div button {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  font-weight: 100;
}
.expanded div button:hover {
  text-decoration: underline;
}
.postBody {
  display: block;
  position: relative;
}
.qLinks {
  position: absolute;
}
.qLinks a {
  margin-right: 20px;
  text-decoration: none;
  color: rgb(85, 85, 85);
}
.qLinks a:hover {
  text-decoration: underline;
}
.newComment {
  padding-bottom: 20px;
}
.newComment textarea {
  font-size: 14;
  font-family: 'Roboto';
  color: rgb(106, 106, 106);
  border-radius: 9px;
  background-color: rgb(200, 200, 200);
  line-height: 20px;
  height: 75px;
  width: 95%;
  font-size: 20px;
  border-top: none;
  border-left: none;
  border-color: rgb(116, 116, 116);
  padding: 5px;
}
.newComment textarea:focus {
  outline: none;
}
.newComment button {
  margin-top: 7px;
  color: rgb(106, 106, 106);
  background-color: rgb(200, 200, 200);
  border-radius: 7px;
  padding: 4px;
}
.delete {
  background-color: transparent;
  color: rgb(220, 220, 220);
  border: none;
  margin-top: 4%;
}
.delete:hover {
  text-decoration: underline;
}
.delete:focus {
  outline: none;
}
.flex {
  display: flex;
}
.edit {
  margin-top: 42px;
  font-size: 13px;
  color: rgb(220, 220, 220);
  text-decoration: none;
}
.edit:hover {
  text-decoration: underline;
}

/* NEW POST */

.newPost {
  color: rgb(220, 220, 220);
  width: 78%;
  margin-left: 22%;
  background-color: rgb(155, 155, 155);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-bottom: 3%;
}
.newPost form {
  margin-left: 5%;
}
.newPost form button {
  border: none;
  font-family: 'Roboto';
  background-color: rgb(200, 200, 200);
  font-size: 20px;
  border-radius: 10px;
  text-decoration: none;
  border-bottom: solid;
  border-right: solid;
  color: rgb(106, 106, 106);
  width: 100px;
  text-align: center;
  border-width: 2px;
}
.newPost form button:focus {
  outline: none;
}
.newPost form button:hover {
  width: 101px;
}
.newPost form input {
  font-family: 'Roboto';
  color: rgb(106, 106, 106);
  border-radius: 9px;
  background-color: rgb(200, 200, 200);
  width: 40%;
  line-height: 20px;
  height: 35px;
  font-size: 20px;
  border-top: none;
  border-left: none;
  border-color: rgb(116, 116, 116);
}
.newPost form textarea {
  padding: 10px;
  font-family: 'Roboto';
  color: rgb(106, 106, 106);
  border-radius: 9px;
  background-color: rgb(200, 200, 200);
  line-height: 20px;
  height: 250px;
  width: 85%;
  font-size: 20px;
  border-top: none;
  border-left: none;
  border-color: rgb(116, 116, 116);
}
.newPost form div {
  margin-bottom: 10px;
}
.newPost h3 {
  font-size: 30px;
  padding-top: 3%;
  margin-left: 5%;
  font-weight: 100;
}
.newPost *:focus {
  outline: none;
}

/* SIGNUP LOGIN */

.signUpForm {
  background-color: rgb(155, 155, 155);
  margin-left: 22%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-bottom: 30px;
  margin-top:7%;
}
.signUpForm * {
  margin-left: 3%;
}
.usernameLabel {
  padding-top: 40px;
}
.passwordInput {
  margin-bottom: 20px;
}
.signUpForm button {
  margin-top: 20px;
  display: block;
  font-family: 'Roboto';
  background-color: rgb(200, 200, 200);
  font-size: 20px;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  border-bottom: solid;
  border-right: solid;
  color: rgb(106, 106, 106);
  width: 100px;
  text-align: center;
}
.signUpForm button:focus {
  outline: none;
  border-color: rgb(200, 200, 200);
}
.signUpForm p {
  font-family: 'Roboto';
  color: rgb(220, 220, 220);
  font-size: 20px;
}
.signUpForm input {
  font-family: 'Roboto';
  color: rgb(106, 106, 106);
  border-radius: 9px;
  background-color: rgb(200, 200, 200);
  width: 40%;
  line-height: 20px;
  height: 35px;
  font-size: 20px;
  border-top: none;
  border-left: none;
  border-color: rgb(116, 116, 116);
}
.signUpForm input:focus {
  outline: none;
}
.l1 {
  display: flex;
  color: rgb(200, 200, 200);
}
.l1 h4 {
  font-weight: 100;
}
.l1 a {
  margin-top: 21px;
  color: rgb(220, 220, 220);
  text-decoration: none;
}
.l1 a:hover {
  text-decoration: underline;
}

/* COMMENT */

.commentCard {
  background-color: rgb(200, 200, 200);
  margin-bottom: 5%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.commentCard p {
  color: rgb(106, 106, 106);
}
.commentName {
  margin-left: 5%;
}

/* USER */

.userDiv {
  position: fixed;
  color: rgb(116, 116, 116);
  z-index: 2;
  display: flex;
  width: 20%;
  margin-top: 113px;
}
.userDiv p {
  margin-left: 37%;
  font-size: 22px;
}
.userDiv button {
  font-size: 14px;
}
.tagsDiv {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  margin-top: 130px;
  text-align: center;
}
.submitCmnt:focus {
  background-color: rgb(220,220,220);
}
.commentSubmited {
  font-weight: 100;
}
h7 {
  font-size: 15px;
}
h7 a{
  margin-left: 5px;
  margin-right: 5px;
  color: rgb(85, 85, 85);
  text-decoration: none;
}
h7 a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1800px) {
  .expanded {
    width: 3000%;
  }
}
@media only screen and (max-width: 1650px) {
  .expanded {
    width: 2500%;
  }
}
@media only screen and (max-width: 1400px) {
  .head {
    display: none;
  }
  .tagsDiv {
    display: none;
  }
  .userDiv {
    display: none;
  }
  .card {
    margin-left: 10%;
  }
  .expand {
    margin-left: 2%;
  }
  .searchbar {
    margin-top: 2%;
  }
  .searchBtn {
    margin-left: 2%;
  }
  .tabs {
    margin-left: 2%;
    margin-top: 2%;
  }
}
