/* NAV */

h1 {
    margin-left: 10%;
    color: rgb(116, 116, 116);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 60px;
}
.nav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(200, 200, 200);
    overflow-x: hidden;
    padding-top: 20px;
    border-right: solid;
    border-color: rgb(116, 116, 116);
    border-width: 1px;
}

/* SEARCHBAR */

.container {
    background-color: rgb(210, 210, 210);
}
.search {
    border: none;
    border-bottom: solid;
    border-width: 1px;
    border-color: rgb(116, 116, 116);
    background-color: transparent;
    width: 555px;
    margin-left: 23%;
    line-height: 35px;
    font-size: 20px;
    margin-top: 1%;
    color: rgb(116, 116, 116);
}
.search:focus {
    outline: none;
}
::placeholder {
    color: rgb(155, 155, 155);
}

/* TAB */

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav li {
    display: inline;
    border: solid;
    border-width: 1px 1px 0 1px;
    margin: 0 5px 0 0;
    background-color: rgb(200, 200, 200);
    padding-left: 100px;
    padding-right: 100px;
    font-size: 18px;
    padding-top: 4px;
    border-radius: 2px;
}
nav li button {
    padding: 0 10px;
    background-color: transparent;
    border: none;
    color: rgb(116, 116, 116);
}
nav li button:focus {
    outline: none;
}
.navTab {
    margin-left: 23%;
    font-family: 'Roboto';
}
.tab {
    display: flex;
    font-family: 'Roboto';
    color: rgb(116, 116, 116);
    padding-top: 1.5%;
    border-bottom: solid;
    border-width: 1px;
    background-color: rgb(210, 210, 210);
}
#selected {
    padding-bottom: 1px; 
    background: rgb(220, 220, 220);
}

/* CARD */