h1 {
    margin-left: 10%;
    color: rgb(116, 116, 116);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    border-bottom: solid;
    border-width: 1px;
}

.nav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(206, 201, 201);
    overflow-x: hidden;
    padding-top: 20px;
    border-right: solid;
    border-color: rgb(116, 116, 116);
    border-width: 2px;
    border-bottom: solid;
    border-width: 1px;
}

.searchBar {
    width: 60%;
    margin-left: 30%;
    margin-top: 1%;
}

::placeholder {
    color: rgb(151, 147, 147);
}
